doctype html
html(lang='en')
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-125314689-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-125314689-2');
    // Basic
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title A guy Who loves code
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='vcard, resposnive, resume, personal, card, cv, cards, portfolio')
    meta(name='author', content='beshleyua')
    // Load Fonts
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", attr)
    // Load CSS
    link(rel='stylesheet', href='basic.css')
    link(rel='stylesheet', href='layout.css')
    link(rel='stylesheet', href='blog.css')
    link(rel='stylesheet', href='magnific-popup.css')
    link(rel='stylesheet', href='animate.css')
    link(rel='stylesheet', href='gradient.css')
    link(rel='stylesheet', href='green.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css')
    //if lt IE 9
      script(src='http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js')
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Favicons
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
  body
    // preloader
    .preloader
      .centrize.full-width
        .vertical-center
          .spinner
            .double-bounce1
            .double-bounce2
    // background
    .background.gradient
      ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
    // Container
    .container.opened(data-animation-in='fadeInLeft', data-animation-out='fadeOutLeft')
      // Header
      header.header
        // menu
        .top-menu
          ul
            li.active
              a(href='#about-card')
                ion-icon(name="person")
                span.link About
            li
              a(href='#resume-card')
                span.icon.ion-android-list
                span.link Resume
            li
              a(href='#works-card')
                span.icon.ion-paintbrush
                span.link Works
            li
              a(href='#blog-card')
                span.icon.ion-chatbox-working
                span.link Blog
            li
              a(href='#contacts-card')
                span.icon.ion-at
                span.link Contact
      // Card - Started
      #home-card.card-started
        // Profile
        .profile
          // profile image
          .slide(style='background-image: url(../coding.jpg);')
          // profile photo
          .image
            img(src='../photo_2019-01-17_15-43-14.jpg', alt='')
          // profile titles
          .title Prana Apsara Wijaya
          .subtitle Front End Dev
          // profile socials
          .social
            a(target='_blank', href='https://dribbble.com/')
              span.fab.fa-dribbble
            a(target='_blank', href='https://twitter.com/')
              span.fab.fa-twitter
            a(target='_blank', href='https://github.com/')
              span.fab.fa-github
            a(target='_blank', href='https://www.spotify.com/')
              span.fab.fa-spotify
            a(target='_blank', href='https://stackoverflow.com/')
              span.fab.fa-stack-overflow
          // profile buttons
          .lnks
            a.lnk(href='#')
              span.text Download CV
              span.ion.ion-archive
            a.lnk.discover(href='#')
              span.text Contact Me
              span.arrow
      // Card - About
      #about-card.card-inner.animated.active
        .card-wrap
          // About
          .content.about
            // title
            .title About Me
            // content
            .row
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .text-box
                  p
                    | I am #prana, front End based on Jakarta, Indonesia. I am also tech enthusiast. write down code in computer is
                    | my hobies, but also sometimes make me dissapointed when the code doens't work, but this is the challanges to
                    | solve unwork code is not easy. logical thinking, patience, careful, and never quit all those needed to be a
                    | developer.
                    | on the other hand learn a new things that i never learned before is my pleasure, i also love travel to another
                    | place that i have never seen before. this is how i can improve myself to be better.
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .info-list
                  ul
                    li
                      strong Age 
                      span 23
                    li
                      strong Residence 
                      span ID
                    li
                      strong Freelance 
                      span Available
                    li
                      strong Address 
                      span JKT, ID
              .clear.border-line-h
          // Services
          .content.services
            // title
            .title My Services
            // content
            .row.service-items.border-line-v
              // service item
              .col.col-d-6.col-t-6.col-m-12.border-line-h
                .service-item
                  .icon
                    box-icon(name='code')
                  .name Web Development
                  p
                    | Modern with responsive mobile-ready website. You can get what the best website for.
              // service item
              .col.col-d-6.col-t-6.col-m-12.border-line-h
                .service-item
                  .icon
                    box-icon(name='globe')
                  .name Web Maintaining
                  p
                    | Maintain website to the most updated technologies and design
              .clear

            .row.service-items.border-line-v
             .col.col-d-6.col-t-6.col-m-12.border-line-h
                .service-item
                  .icon
                    box-icon(name='mobile')
                  .name Web Responsive
                  p
                    | Using most sophicated technologies. Responsive design same as your expectation 
            
          // Price Tables
          .content.pricing
            // title
            // <div class="title">Pricing</div>
            // content
            .row.pricing-items
              // pricing item
              //
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="pricing-item">
                <div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
                <div class="name">Basic</div>
                <div class="amount">
                <span class="dollar">$</span>
                <span class="number">22</span>
                <span class="period">hour</span>
                </div>
                <div class="feature-list">
                <ul>
                <li>Web Development</li>
                <li>Advetising</li>
                <li>Game Development</li>
                <li class="disable">Music Writing</li>
                <li class="disable">Photography <strong>new</strong></li>
                </ul>
                </div>
                <div class="lnks">
                <a href="#" class="lnk">
                <span class="text">Buy Basic</span>
                <i class="ion ion-speedometer speed-basic"></i>
                </a>
                </div>
                </div>
                </div>
              // pricing item
              //
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                <div class="pricing-item">
                <div class="icon"><i class="ion ion-speedometer"></i></div>
                <div class="name">Pro</div>
                <div class="amount">
                <span class="dollar">$</span>
                <span class="number">48</span>
                <span class="period">hour</span>
                </div>
                <div class="feature-list">
                <ul>
                <li>Web Development</li>
                <li>Advetising</li>
                <li>Game Development</li>
                <li>Music Writing</li>
                <li>Photography <strong>new</strong></li>
                </ul>
                </div>
                <div class="lnks">
                <a href="#" class="lnk">
                <span class="text">Buy Pro</span>
                <i class="ion ion-speedometer"></i>
                </a>
                </div>
                </div>
                </div>
              .clear
          // Fun Fact
          .content.fuct
            // title
            .title Fun Fact
            // content
            .row.fuct-items
              // fuct item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .fuct-item
                  .icon
                    span.ion.ion-disc
                  .name 80 Albumes Listened
              // fuct item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .fuct-item
                  .icon
                    span.ion.ion-trophy
                  .name 15 Awards Won
              // fuct item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .fuct-item
                  .icon
                    span.ion.ion-coffee
                  .name 1 000 Cups of coffee
              // fuct item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .fuct-item
                  .icon
                    span.ion.ion-flag
                  .name 10 Countries Visited
              .clear
          //
            Clients
          .content.clients
            // title
            .title Clients
            // content
            .row.client-items
              // client item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .client-item
                  .image
                    a(target='_blank', href='https://www.google.com/')
                      img(src='https://beshley.com/vcard/images/clients/client_1.png', alt='')
              // client item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .client-item
                  .image
                    a(target='_blank', href='https://www.google.com/')
                      img(src='https://beshley.com/vcard/images/clients/client_2.png', alt='')
              // client item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .client-item
                  .image
                    a(target='_blank', href='https://www.google.com/')
                      img(src='https://beshley.com/vcard/images/clients/client_3.png', alt='')
              // client item
              .col.col-d-3.col-t-3.col-m-6.border-line-v
                .client-item
                  .image
                    a(target='_blank', href='https://www.google.com/')
                      img(src='https://beshley.com/vcard/images/clients/client_4.png', alt='')
              .clear
      // Card - Resume
      #resume-card.card-inner
        .card-wrap
          // Resume
          .content.resume
            // title
            .title Resume
            // content
            .row
              // experience
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .resume-title.border-line-h
                  .icon
                    box-icon(name='briefcase-alt')
                  .name Experience
                .resume-items
                  .resume-item.border-line-h.active
                    .date 2018, Nov - Present
                    .name Front End Dev
                    .company
                      a(href='https://www.indoesports.com/') www.indoesports.com
                    p
                      | Build a website from zero and then maintaning website
                  .resume-item.border-line-h
                    .date 2018,Feb - 2018,Sep
                    .name Staff Operation
                    .company OKLIK
                    p
                      | Buying office supplies and recruiting talent.
                  .resume-item
                    .date 2017,Sep - 2018,Feb
                    .name Junior Front End
                    .company PT. Brilian Muda Indonesia
                    p
                      | Optimize website performance using latest technology.
              // education
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .resume-title.border-line-h
                  .icon
                    box-icon(name='book-open')
                  .name Education
                .resume-items
                  .resume-item.border-line-h
                    .date 2014 - 2017
                    .name Bina Sarana Informatika
                    .company JKT
                    p
                      | Diploma of Management Information Systems
                  .resume-item.border-line-h
                    .date 2011 - 2014
                    .name High School
                    .company JKT
                    p
                      | Tri Ratna Vocational High School
              .clear
          // Informal Education
          .content.skills
            .row
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .resume-title.border-line-h
                  .icon
                    box-icon(name='book-open')
                  .name Informal Edu.
                .resume-items
                  .resume-item.border-line-h
                    .date 2018 - 2018
                    .name WebHozz
                    .company JKT
                    p
                      | HTML, CSS, Jquery, Bootstrap
                  .resume-item.border-line-h
                    .date 2018 - 2018
                    .name Sekolah Koding
                    .company JKT
                    p
                      | SCSS, Vue.js
            .clear
          // Skills
          .content.skills
            // title
            .title My Skills
            // content
            .row
              // skill item
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .skills-list
                  .skill-title.border-line-h Tech.
                  ul
                    li.border-line-h
                      i.fab.fa-html5
                      .name HTML5
                      .progress
                        .percentage(style='width:90%;')
                    li.border-line-h
                      i.fab.fa-css3
                      .name CSS 3
                      .progress
                        .percentage(style='width:90%;')
                    li.border-line-h
                      i.fab.fa-js
                      .name Java Script
                      .progress
                        .percentage(style='width:80%;')
                    li
                      i.devicon-git-plain.colored
                      .name Git
                      .progress
                        .percentage(style='width:75%;')
              // skill item
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .skills-list
                  .skill-title.border-line-h Preprocessors
                  ul
                    li.border-line-h
                      i.devicon-sass-original.colored
                      .name SASS
                      .progress
                        .percentage(style='width:50%;')
                    li.border-line-h
                      .name Pug/Jade
                      .progress
                        .percentage(style='width:60%;')
                    li.border-line-h
                      i.devicon-less-plain-wordmark.colored
                      .name LESS
                      .progress
                        .percentage(style='width:35%;')
              .clear
              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .skills-list
                  .skill-title.border-line-h Framework
                  ul
                    li.border-line-h
                      i.devicon-bootstrap-plain.colored
                      .name Bootstrap
                      .progress
                        .percentage(style='width:80%;')
                    li.border-line-h
                      i.devicon-react-original.colored
                      .name React
                      .progress
                        .percentage(style='width:20%;')

              .col.col-d-6.col-t-6.col-m-12.border-line-v
                .skills-list
                  .skill-title.border-line-h Libraries
                  ul
                    li
                      i.devicon-jquery-plain.colored
                      .name Jquery
                      .progress
                        .percentage(style='width:85%;')
              .clear
            
      // Card - Works
      #works-card.card-inner
        .card-wrap
          // Works
          .content.works
            // title
            .title Recent Works
            // filters
            .filter-menu.filter-button-group
              .f_btn.active
                label
                  input(type='radio', name='fl_radio', value='grid-item')
                  | All
              .f_btn
                label
                  input(type='radio', name='fl_radio', value='photo')
                  | Photo
              .f_btn
                label
                  input(type='radio', name='fl_radio', value='video')
                  | Video
              .f_btn
                label
                  input(type='radio', name='fl_radio', value='music')
                  | Music
              .f_btn
                label
                  input(type='radio', name='fl_radio', value='design')
                  | Design
            // content
            .row.grid-items.border-line-v
              // work item photo
              .col.col-d-6.col-t-6.col-m-12.grid-item.photo.border-line-h
                .box-item
                  .image
                    a.has-popup-image(href='https://beshley.com/vcard/images/works/work1.jpg')
                      img(src='https://beshley.com/vcard/images/works/work1.jpg', alt='')
                      span.info
                        span.ion.ion-image
                  .desc
                    a.name.has-popup-image(href='https://beshley.com/vcard/images/works/work1.jpg') Motorcycle Helmet
                    .category Photo
              // work item video
              .col.col-d-6.col-t-6.col-m-12.grid-item.video.border-line-h
                .box-item
                  .image
                    a.has-popup-video(href='https://vimeo.com/97102654')
                      img(src='https://beshley.com/vcard/images/works/work2.jpg', alt='')
                      span.info
                        span.ion.ion-videocamera
                  .desc
                    a.name.has-popup-video(href='https://vimeo.com/97102654') Minimalism Shapes
                    .category Video
              // work item music
              .col.col-d-6.col-t-6.col-m-12.grid-item.music.border-line-h
                .box-item
                  .image
                    a.has-popup-music(href='https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&show_artwork=true')
                      img(src='https://beshley.com/vcard/images/works/work3.jpg', alt='')
                      span.info
                        span.ion.ion-music-note
                  .desc
                    a.name.has-popup(href='#') Staircase
                    .category Music
              // work item design
              .col.col-d-6.col-t-6.col-m-12.grid-item.design.border-line-h
                .box-item
                  .image
                    a.has-popup-media(href='#popup-1')
                      img(src='https://beshley.com/vcard/images/works/work4.jpg', alt='')
                      span.info
                        span.ion.ion-images
                  .desc
                    a.name.has-popup-media(href='#popup-1') Mobile Application
                    .category Design
                  #popup-1.popup-box.mfp-fade.mfp-hide
                    .content
                      .image
                        img(src='https://beshley.com/vcard/images/works/work4.jpg', alt='')
                      .desc
                        .post-box
                          h1 Mobile Application
                          .blog-detail Design
                          .blog-content
                            p
                              | So striking at of to welcomed resolved. Northward by described up household therefore
                              | attention. Excellence decisively nay man yet impression for contrasted remarkably.
                            p
                              | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
                              | Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining
                              | determine few her two cordially admitting old.
                            blockquote
                              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                              | Curae; Pellentesque suscipit.
                            p
                              | Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh
                              | removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on.
                              | Increasing sufficient everything men him admiration unpleasing sex.
                            ul.list-style
                              li Greatest properly off ham exercise all.
                              li Unsatiable invitation its possession nor off.
                              li All difficulty estimating unreserved increasing the solicitude.
                            p
                              | Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means
                              | up civil do an offer wound of.
                          a.button(href='#')
                            span.text View Project
                            span.arrow
              // work item photo
              .col.col-d-6.col-t-6.col-m-12.grid-item.photo.border-line-h
                .box-item
                  .image
                    a.has-popup-image(href='https://beshley.com/vcard/images/works/work5.jpg')
                      img(src='https://beshley.com/vcard/images/works/work5.jpg', alt='')
                      span.info
                        span.ion.ion-image
                  .desc
                    a.name.has-popup-image(href='https://beshley.com/vcard/images/works/work5.jpg') Gereal Travels
                    .category Photo
              // work item music
              .col.col-d-6.col-t-6.col-m-12.grid-item.music.border-line-h
                .box-item
                  .image
                    a.has-popup-music(href='https://w.soundcloud.com/player/?visual=true&url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F221650664&show_artwork=true')
                      img(src='https://beshley.com/vcard/images/works/work8.jpg', alt='')
                      span.info
                        span.ion.ion-music-note
                  .desc
                    a.name.has-popup(href='#') Daylight Entrance
                    .category Music
              // work item video
              .col.col-d-6.col-t-6.col-m-12.grid-item.video.border-line-h
                .box-item
                  .image
                    a.has-popup-video(href='https://vimeo.com/97102654')
                      img(src='https://beshley.com/vcard/images/works/work6.jpg', alt='')
                      span.info
                        span.ion.ion-videocamera
                  .desc
                    a.name.has-popup-video(href='https://vimeo.com/97102654') Architecture
                    .category Video
              // work item design
              .col.col-d-6.col-t-6.col-m-12.grid-item.design.border-line-h
                .box-item
                  .image
                    a.has-popup-media(href='#popup-2')
                      img(src='https://beshley.com/vcard/images/works/work7.jpg', alt='')
                      span.info
                        span.ion.ion-images
                  .desc
                    a.name.has-popup-media(href='#popup-2') Social Website
                    .category Design
                  #popup-2.popup-box.mfp-fade.mfp-hide
                    .content
                      .image
                        img(src='https://beshley.com/vcard/images/works/work7.jpg', alt='')
                      .desc
                        .post-box
                          h1 Mobile Application
                          .blog-detail Design
                          .blog-content
                            p
                              | So striking at of to welcomed resolved. Northward by described up household therefore
                              | attention. Excellence decisively nay man yet impression for contrasted remarkably.
                            p
                              | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident.
                              | Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining
                              | determine few her two cordially admitting old.
                            blockquote
                              | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                              | Curae; Pellentesque suscipit.
                            p
                              | Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh
                              | removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on.
                              | Increasing sufficient everything men him admiration unpleasing sex.
                            ul.list-style
                              li Greatest properly off ham exercise all.
                              li Unsatiable invitation its possession nor off.
                              li All difficulty estimating unreserved increasing the solicitude.
                            p
                              | Unpleasant astonished an diminution up partiality. Noisy an their of meant. Death means
                              | up civil do an offer wound of.
                          a.button(href='#')
                            span.text View Project
                            span.arrow
              .clear
      // Card - Blog
      #blog-card.card-inner.blog
        .card-wrap
          // Blog
          .content.blog
            // title
            .title Latest Posts
            // content
            .row.border-line-v
              // blog item
              .col.col-d-12.col-t-12.col-m-12.border-line-h
                .box-item
                  .image
                    a(href='https://beshley.com/vcard/blog-post.html')
                      img(src='https://beshley.com/vcard/images/blog/blog1.jpg', alt='')
                      span.info
                        span.ion.ion-document-text
                      span.date
                        strong 20
                        | Jun
                  .desc
                    a.name(href='https://beshley.com/vcard/blog-post.html') By spite about do of do allow blush
                    .category Design
              // blog item
              .col.col-d-12.col-t-12.col-m-12.border-line-h
                .box-item
                  .image
                    a(href='https://beshley.com/vcard/blog-post.html')
                      img(src='https://beshley.com/vcard/images/blog/blog2.jpg', alt='')
                      span.info
                        span.ion.ion-document-text
                      span.date
                        strong 19
                        | Jun
                  .desc
                    a.name(href='https://beshley.com/vcard/blog-post.html') Two Before Arrow Not Relied
                    .category Coding
              // blog item
              .col.col-d-12.col-t-12.col-m-12.border-line-h
                .box-item
                  .image
                    a(href='https://beshley.com/vcard/blog-post.html')
                      img(src='https://beshley.com/vcard/images/blog/blog3.jpg', alt='')
                      span.info
                        span.ion.ion-document-text
                      span.date
                        strong 20
                        | Jun
                  .desc
                    a.name(href='https://beshley.com/vcard/blog-post.html') By spite about do of do allow blush
                    .category Travel
              .clear
      // Card - Contacts
      #contacts-card.card-inner.contacts
        .card-wrap
          // Conacts Info
          .content.contacts
            // title
            .title Get in Touch
            // content
            .row
              .col.col-d-12.col-t-12.col-m-12.border-line-v
                #map.map
                .info-list
                  ul
                    li
                      strong Address . . . . .
                      |  California, USA
                    li
                      strong Email . . . . .
                      |  adlard@example.com
                    li
                      strong Phone . . . . .
                      |  +123 654 78900
                    li
                      strong Freelance . . . . .
                      |  Available
              .clear
          // Contact Form
          .content.contacts
            // title
            .title Contact Form
            // content
            .row
              .col.col-d-12.col-t-12.col-m-12.border-line-v
                .contact_form
                  form#cform(method='post')
                    .row
                      .col.col-d-6.col-t-6.col-m-12
                        .group-val
                          input(type='text', name='name', placeholder='Full Name')
                      .col.col-d-6.col-t-6.col-m-12
                        .group-val
                          input(type='text', name='email', placeholder='Email Address')
                      .col.col-d-12.col-t-12.col-m-12
                        .group-val
                          textarea(name='message', placeholder='Your Message')
                    .align-left
                      a.button(href='#', onclick="$('#cform').submit(); return false;")
                        span.text Send Message
                        span.arrow
                  .alert-success
                    p Thanks, your message is sent successfully.
              .clear
    //jQuery Scripts
    script(src='jquery.min.js')
    script(src='jquery.validate.js')
    script(src='jquery.magnific-popup.js')
    script(src='imagesloaded.pkgd.js')
    script(src='masonry.pkgd.js')
    script(src='masonry-filter.js')
    script(src='jquery.slimscroll.js')
    script(src='https://unpkg.com/boxicons@latest/dist/boxicons.js')
    // Google map api
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDz2w7HUaWudHwd7AWQpCL48Qs050WOn9s')
    script(src='scripts.js')