$margin: 1px 0 0px 10%;
$margin_2: 1em 0 0px 11%;

.hello{
    margin: 1.9rem 0 0 10%;
    display: -webkit-box;

    img{
        border-radius: 50%;
        max-width:6em;
    }

    .title{
        font-size: 1.3rem;
        font-weight: 400;
        margin: 0px;
    }
}

.margin-2{
    margin:$margin_2;
}


